<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <%= render "user", user: @user, daily_records: @daily_records %>
    <% else %>　<!--医療関係者の場合-->
      <%= render "hospital", user: @user, daily_records: @daily_records %>
    <% end %>
  </div>
</div>