<div class="container">
  <div class="row">
    <% if current_hospital == @hospital %>
      <%= render "hospital", hospital: @hospital %>
    <% else %>　<!--個人利用者の場合-->
      <%= render "user", hospital: @hospital %>
    <% end %>
  </div>
</div>