<% if daily_record.favorited_by?(current_user) %>
  <%= link_to daily_record_favorites_path(daily_record), method: :delete, remote: true do %>
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: red;"></span>
    <span class="favorite-count-yes"><%= daily_record.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to daily_record_favorites_path(daily_record), method: :post, remote: true do %>
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: black;"></span>
    <span class="favorite-count-no"><%= daily_record.favorites.count %></span>
  <% end %>
<% end %>