<div class="about-container">
  <div class="row">
    <h2>個人の利用者さま</h2>
    <h1><b>手軽に健康管理してみませんか？</b></h1>

    <div class="col-sm-12 col-md-4">
      <div class="about-icon">
        <i class="fas fa-pencil-alt"></i>
        <h3><b>日々の記録をお手軽に！</b></h3>
        <h4>食事・運動から、血圧・血糖値まで、</br>幅広く記録できます！</br>
        今までの病歴もまとめておくと、</br>いざという時に便利です！</h4>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="about-icon">
        <i class="fas fa-hospital-alt"></i>
        <h3><b>かかりつけの医療機関との</br>情報共有が密に！</b></h3>
        <h4>日々の記録だけでなく、</br>診察内容の共有も確認できます！</br>
        かかりつけの医療機関同士で、</br>治療内容を共有してもらうことも！</h4>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="about-icon">
        <i class="fas fa-users"></i>
        <h3><b>健康意識を持った仲間と共に！</b></h3>
        <h4>食事や運動といった</br>日々の取り組みについて、</br>
        コメントやいいねでお互い応援しましょう！</br>
        参考になる取り組みを発見できるかも！</h4>
      </div>
    </div>
  </div>
  <div class="about-new-btn col text-center">
    <%= link_to "さっそく新規登録！", new_user_registration_path, class: "btn btn-primary btn-lg", data: {"turbolinks" => false} %>
  </div>
</div>