<div class="container">
  <div class="row">
    <h2>医療関係者の皆さま</h2>
    <h1><b>患者さまの健康状態を正しく管理してみませんか？</b></h1>

    <div class="col-xs-4">
      <h3><b>毎日の状態の確認に！</b></h3>
      <h4>患者さまの日々の食事や運動、血圧などの数値まで、</br>
      幅広く管理することができます！</br>
      診察時にまとめて話を聞く必要がなく、かつ内容も漏れがありません！</h4>
    </div>

    <div class="col-xs-4">
      <h3><b>診療内容の共有に！</b></h3>
      <h4>診療内容を患者さまと共有できるので、</br>
      治療方針の意識統一ができます！</h4>
    </div>

    <div class="col-xs-4">
      <h3><b>他医療機関での治療内容の把握に！</b></h3>
      <h4>患者が他の医療機関で治療した内容を</br>
      確認することができます！</h4>
    </div>
  </div>
  <div class="row">
    <%= link_to "さっそく新規登録！", new_hospital_registration_path, class: "btn btn-primary" %>
  </div>
</div>