<div class="about-container">
  <div class="row">
    <h2>医療関係者の皆さま</h2>
    <h1><b>患者さまの健康状態を正しく管理してみませんか？</b></h1>

    <div class="col-sm-12 col-md-4">
      <div class="about-icon">
        <i class="far fa-calendar-check"></i>
        <h3><b>毎日の状態の確認に！</b></h3>
        <h4>患者さまの食事・運動から、</br>血圧などの数値まで、</br>
        幅広く管理することができます！</br>
        診察時にまとめて話を聞く必要がなく、</br>かつ内容も漏れがありません！</h4>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="about-icon">
        <i class="fas fa-share-square"></i>
        <h3><b>診療内容の共有に！</b></h3>
        <h4>診療内容を患者さまと共有できるので、</br>
        治療方針の意識統一ができます！</br>
        データとして残るため、</br>伝え忘れもありません！</h4></br>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="about-icon">
        <i class="fas fa-hospital-alt"></i>
        <h3><b>他医療機関での</br>治療内容の把握に！</b></h3>
        <h4>患者が他の医療機関で治療した内容を</br>
        確認することができます！</h4></br></br>
      </div>
    </div>
  </div>
  <div class="about-new-btn col text-center">
    <%= link_to "さっそく新規登録！", new_hospital_registration_path, class: "btn btn-primary btn-lg", data: {"turbolinks" => false} %>
  </div>
</div>