<div class="container">
  <div class="row">
    <h2>みんなの投稿一覧</h2>
    <div class="genre-search col-xs-4">
      <table class="table">
        <thead><th>ジャンル検索</th></thead>
        <tbody>
          <tr><th><%= link_to "食事", daily_records_search_path(:genre => 0) %></th></tr>
          <tr><th><%= link_to "運動", daily_records_search_path(:genre => 1) %></th></tr>
          <tr><th><%= link_to "その他", daily_records_search_path(:genre => 2) %></th></tr>
         </tbody>
      </table>
    </div>

    <div class="all-index col-xs-8">
      <%= render "index", daily_records: @daily_records %>
    </div>
  </div>
</div>