<div class="daily-record-new-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <h2 class="col text-center">わたしの投稿 新規登録</h2>
      <%= render "error", daily_record: @daily_record %>

        <div class="row">
          <%= form_with model: @daily_record, url: daily_records_path, local: true do |f| %>
            <%= render "form", f: f, daily_record: @daily_record %>
          <% end %>
        </div>
    </div>
  </div>
</div>