<div class="daily-record-show-container">
  <div class="row">
     <% if current_user.present? %>
      <%= render "user", daily_record: @daily_record, comment: @comment %>
    <% elsif current_hospital.patients?(@daily_record.user) %>　<!--医療関係者でかかりつけ医登録場合-->
      <%= render "hospital", daily_record: @daily_record %>
    <% end %>

  </div>
</div>
