<div class="container">
  <div class="row">
    <h2>医療機関一覧</h2>
    <h4>"<%= @content %>"の検索結果</h4>

      <div class="hospital-index">
        <%= render "hospitals/hospitals/index", hospitals: @hospitals %>
      </div>

      <%= link_to "医療機関一覧へ", hospitals_path, class: "btn btn-primary" %>
  </div>
</div>