/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// カレンダー
.simple-calendar {
 .day {}
 .wday-0 {
    color: red;
 }
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {
 }
 .wday-6 {
    color: blue;
 }
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month {}
 .current-month {}
 .calendar-head {
   background-color: #F0E68C;
   text-align: center;
 }
 .calendar-title {
   font-size: 20px;
   font-weight: bold;
 }
 .has-events {
   background: #FFF8DC;
 }
}

// エラーメッセージ
.alert-danger {
  list-style: none;
}

// フラッシュメッセージ
.notifications {
  color: white;
  text-align: center;
  margin-top: -20px;
  width: 100%;

  .notice {
    background-color: lightBlue;
    padding: 0px;
  }

  .alert {
    background-color: orange;
    padding: 0px;
  }
}

// サイドバー
html, body {
  height: 100%;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.main {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.sidebar {
  display: flex;
  height: 100%;
  min-height: 100%;
  background-color: #D2B48C;
}

body > .main, .sidebar, .sidebar-content {
  height: auto;
  }

.sidebar-content {
  background-color: #D2B48C;
  position : absolute;
	left : 0;
  width: 100%;
  height: 100%;
  min-height: 100%;

  .logo {
    color: black;
    text-align: center;
    font-size: 45px;
  }

  .login-user {
    font-size: 30px;
    text-align: center;
  }

  .sidebar-nav {
    margin-top: 45px;
  }

  li {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    .welcome-user {
      font-size: 30px;
    }

    .sidebar-item {
      color: white;
    }

    span {
      font-size: 20px;
    }
  }
}

#sidebar-medical {
  background-color: #4682B4;
}

.notifications {
  margin-top: 20px;
}

// ヘッダー
header {
  background-color: #D2B48C;
  height: 100px;
}

// ハンバーガー
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

// リンク先
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}