/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.simple-calendar {
 .day {}
 .wday-0 {
    color: red;
 }
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {
 }
 .wday-6 {
    color: blue;
 }
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month {}
 .current-month {}
 .calendar-head {
   background-color: #F0E68C;
   text-align: center;
 }
 .calendar-title {
   font-size: 20px;
   font-weight: bold;
 }
 .has-events {
   background: #FFF8DC;
 }
}