// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-container {
  font-size: 18px;
  margin: 15px;
  h2 {
      text-align: center;
      margin-bottom: 40px;
  }
}

.my-chat {
  background-color: #EEE8AA;
  border-radius: 20px;
  border: 5px solid white;
  padding: 5px;
  width: 500px;
}

.my-chat-non {
  width: 500px;
}

.other-chat {
  background-color: #DCDCDC;
  border-radius: 20px;
  border: 5px solid white;
  padding: 5px;
}

@media screen and (max-width:1199px) {
  .chat-container {
    font-size: 15px;
    .my-chat, .my-chat-non {
      width: 400px;
    }
  }
}

@media screen and (max-width:768px) {
  .chat-container {
     .my-chat, .my-chat-non {
      width: 300px;
    }
  }
}

@media screen and (max-width: 425px) {
  .chat-container {
    .my-chat, .my-chat-non {
      width: 200px;
    }
  }
}

@media screen and (max-width: 325px) {
  .chat-container {
    .my-chat, .my-chat-non {
      width: 150px;
    }
  }
}