// Place all the styles related to the HealthCares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 一覧・新規登録・編集ページ
.care-index-container, .care-new-container, .care-edit-container {
  font-size: 18px;
  h2 {
      text-align: center;
      font-size: 40px;
      margin: 40px 0px;
      padding: 1rem 2rem;
      border-top: 3px dashed #000;
      border-bottom: 3px dashed #000;
  }
}

.care-new-container, .care-edit-container {
  margin: 15px;
}

@media screen and (max-width:1199px) {
  .care-index-container, .care-new-container, .care-edit-container {
    font-size: 15px;
    h2 {
      font-size: 30px;
    }
  }
}