// Place all the styles related to the hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 共通
.hospital-show-container, .hospital-edit-container, .hospital-index-container {
  font-size: 18px;
  h2 {
      text-align: center;
      font-size: 40px;
      margin: 40px 0px;
      padding: 1rem 2rem;
      border-top: 3px dashed #000;
      border-bottom: 3px dashed #000;
  }
}

@media screen and (max-width:768px) {
  .hospital-show-container, .hospital-edit-container, .hospital-index-container {
    font-size: 15px;
    h2 {
      font-size: 30px;
    }
  }
}

// マイページ
.hospital-select {
   text-align: center;
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0 15px 0;
    i {
      font-size: 50px;
    }
    .patient-page {
      background:linear-gradient(transparent 60%, #FFA500 60%);
    }
    .medical-page {
      background:linear-gradient(transparent 60%, #9ACD32 60%);
    }
}

.hospital-show-patient {
  text-align: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid #DDDDDD;
  .hospital-show-patient-head {
    background-color: #F0E68C;
    padding: 15px 0;
    h3 {
      margin: 0;
    }
  }
}

@media screen and (max-width:768px) {
  .hospital-show-container {
    .hospital-show-patient {
      table {
        font-size: 13px;
      }
      .hospital-show-patient-head {
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 13px;
        }
      }
    }
  }
}

// 一覧画面
.hospital-search {
  margin-bottom: 30px;
  background-color: #DCDCDC;
  border-radius: 10px;
  padding: 20px;
  width: 330px;
  float: right;
}

.hospital-menu {
  background-color: #DCDCDC;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  h3 {
    font-size: 30px;
  }
}

@media screen and (max-width:768px) {
  .hospital-search {
    font-size: 15px;
    width: 300px;
  }
  .hospital-menu {
    h3 {
      font-size: 25px;
    }
  }
}
