// Place all the styles related to the MedicalRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 共通
.medical-records-index-container, .medical-records-new-container,
.medical-records-show-container, .medical-records-edit-container {
  font-size: 18px;
  margin: 15px;
  h2 {
      text-align: center;
      font-size: 40px;
      margin: 40px 0px;
      padding: 1rem 2rem;
      border-top: 3px dashed #000;
      border-bottom: 3px dashed #000;
  }
  h3 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.medical-records-index-container {
  text-align: center;
  .medical-record-info {
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    i {
      font-size: 50px;
    }
  }
}

@media screen and (max-width:1199px) {
  .medical-records-index-container, .medical-records-new-container,
  .medical-records-show-container, .medical-records-edit-container {
    font-size: 15px;
    h2 {
      font-size: 30px;
    }
  }
}

// 一覧
.search-title {
  background-color: #FFE4E1;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

