// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// マイページ
.user-show-container {
  font-size: 18px;
  h2 {
      text-align: center;
      margin-bottom: 25px;
  }
}

.user-img {
  border-radius: 50%;
}

// 編集ページ
.user-edit-container {
  font-size: 18px;
}

// かかりつけ医一覧ページ
.families-container {
  font-size: 18px;
  h2 {
    margin: 40px 0 25px 0;
  }
}

@media screen and (max-width:768px) {
  .user-show-container, .user-edit-container, .families-container {
    font-size: 15px;
  }
}


