// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// マイページ
.user-show-container {
  font-size: 18px;
  padding-bottom: 10px;
  h2 {
      font-size: 40px;
      margin: 40px 0px;
      padding: 1rem 2rem;
      border-top: 3px dashed #000;
      border-bottom: 3px dashed #000;
      text-align: center;
  }
}

.mypage-profile {
  .user-img {
    border-radius: 50%;
  }
}

.mypage-select {
    text-align: center;
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    i {
      font-size: 50px;
    }
    p {
      margin: 0;
    }
    .btn-brown {
      background-color: #555555;
      color: white;
    }
  }

.user-show-daily {
  text-align: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid #DDDDDD;
  .user-show-daily-head {
    background-color: #F0E68C;
    padding: 15px 0;
    h3 {
      margin: 0;
    }
  }
}

// 編集ページ
.user-edit-container {
  font-size: 18px;
  h2 {
      font-size: 40px;
      margin: 40px 0px;
      padding: 1rem 2rem;
      border-top: 3px dashed #000;
      border-bottom: 3px dashed #000;
      text-align: center;
  }
}

// かかりつけ医一覧ページ
.families-container {
  font-size: 18px;
  h2 {
    margin: 40px 0px;
    font-size: 40px;
    padding: 1rem 2rem;
    border-top: 3px dashed #000;
    border-bottom: 3px dashed #000;
    text-align: center;
  }
  .families-info {
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    i {
      font-size: 50px;
    }
  }
}

@media screen and (max-width:768px) {
  .user-edit-container, .families-container {
    font-size: 15px;
    h2 {
      font-size: 30px;
    }
  }

  .user-show-container {
    font-size: 15px;
    h2 {
      font-size: 30px;
    }
    .daily-table {
      font-size: 13px;
    }
    .user-show-daily-head, .mypage-select {
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 13px;
      }
    }
  }
}


