<% if health_care.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% health_care.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>