<div class="container">
  <div class="row">
    <% if @user == current_user %>
      <%= render "user", health_cares: @health_cares %>
    <% elsif current_hospital.patients?(@user) %>　<!--医療関係者でかかりつけ医登録場合-->
      <%= render "hospital", user: @user, health_cares: @health_cares %>
    <% end %>



  </div>
</div>