<div class="history-index-container">
  <div class="row">
    <% if @user == current_user %>
      <%= render "user", medical_histories: @medical_histories %>
    <% elsif current_hospital.patients?(@user) %>　<!--医療関係者でかかりつけ医登録場合-->
      <%= render "hospital", user: @user, medical_histories: @medical_histories %>
    <% end %>
  </div>
</div>

<%= paginate @medical_histories %>