<div class="history-new-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <h2 class="col text-center"><b>病歴の新規登録</b></h2>
      <%= render "error", medical_history: @medical_history %>

        <div class="row">
          <%= form_with model: @medical_history , url: user_medical_histories_path(current_user), local: true do |f| %>
            <%= render "form", f: f, medical_history: @medical_history  %>
          <% end %>
        </div>
    </div>
  </div>
</div>