<% if medical_record.errors.any? %>
  <div class="alert alert-danger">
      The form contains <%= pluralize(medical_record.errors.count, "error") %>.
      <ul>
      <% medical_record.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>