<% if medical_record.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% medical_record.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>